@charset "utf-8";

/* 초기값css */
@import url(reset.css);

/* 헤더, 공통 css */
@import url(common.css);

/* 폰트 */
@import url(font.css);

.modal {
    width: 800px;
    height: 400px;
    border-radius: 10000px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 80;
    background-color: #ffe7e3;
}

body.back::before {
    content: '';
    width: 1920px;
    height: 1080px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000091;
    z-index: 1;
}

.modal .left {
    width: 287px;
    height: 287px;
    border-radius: 50%;
    background-color: #ff8e7b;
    margin-left: 75px;
}

.modal .right {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding-left: 276px;
    transform: translate(-50%, -50%);
}

.modal .right h3 {
    font-size: 70px;
    font-family: 'Pretendard';
}

.modal .right p {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 300;
    font-family: 'Pretendard';
}

.modal .right span {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 300;
    font-family: 'Pretendard';
    color: white;
    border-radius: 1000px;
    width: 105px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
}

.main_visual {
    min-width: 1920px;
    width: 100%;
    height: 1080px;
    background-color: #ff7f50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SBAggroB';
}

.main_visual .inner {
    background-color: #ff7f50;
    width: 1920px;
    height: 931px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow-x: hidden;
}

.main_visual .inner h4 {
    font-size: 60px;
    margin: 35px 0;
}

.main_visual .inner p {
    margin: 14px 0;
    font-size: 50px;
    text-wrap: nowrap;
    font-family: 'Pretendard';
}

.main_visual .inner h3 {
    font-size: 80px;
    margin: 30px 0;
    font-weight: bold;
    font-family: 'GmarketSans';
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.main_visual .line {
    display: flex;
    position: absolute;
    top: 67.5%;
    left: 0;
    transform: translateY(-65%);
    font-size: 150px;
    opacity: 0.1;
    font-weight: bold;
    text-wrap: nowrap;
    animation: slide 270s infinite normal linear;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    z-index: 0;
}

.main_visual .line span {
    margin: 0 30px;
    display: block;
    font-weight: bold;
}

.info,
.site,
.design,
.end {
    min-width: 1920px;
    width: 100%;
    height: 1080px;
    display: none;
}

.info {
    justify-content: space-between;
    align-items: center;
    background: url(../img/info_bg.png) center center / cover no-repeat;
}

.info .inner {
    width: 1440px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.info .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.info .right .right_bottom div:nth-of-type(2) p {
    font-size: 20px;
    line-height: 1.3;
    font-family: 'Pretendard';
    font-weight: 300;
    text-align: center;
}

.info .right .right_bottom div:nth-of-type(2) strong {
    font-size: 30px;
    color: #ff6347;
}

.info .right {
    width: 910px;
    height: 788px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    margin-left: 200px;
}

.info .right::before {
    content: '';
    width: 3px;
    height: 90%;
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translateY(-50%);
    background-color: #fd8559;
    border-radius: 100px;
}

.info .right .right_top,
.info .right .right_bottom {
    display: flex;
    justify-content: space-between;
}

.info .right .right_top>div {
    width: calc(100% / 2 - 30px);
}

.info .right .right_bottom>div {
    width: calc(100% / 2 - 30px);
}

.info .right .title {
    font-size: 40px;
    color: #ff6347;
    font-family: 'SBAggro';
}

.info .right p,
.info .right a {
    font-size: 20px;
    font-family: 'Pretendard';
    font-weight: 300;
}

.info .right .right_top div h4 {
    font-size: 25px;
    color: #fd8559;
    margin: 20px 0 7px;
}

.info .right_top div:nth-of-type(2) {
    text-align: center;
}

.info .right_top div:nth-of-type(2) div {
    width: 100%;
    margin: 38px 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info .right_top div:nth-of-type(2) img {
    width: 67px;
    height: 80px;
    display: block;
    margin: 10px 30px;
}

.info .right .right_bottom div:nth-of-type(2) .title {
    text-align: center;
}

.info .right .right_bottom .title {
    margin-bottom: 17px;
}

.info .right .right_bottom p {
    text-wrap: nowrap;
    font-size: 20px;
    margin-bottom: 20px;
}

.site {
    background-color: #ff7f50;
    position: relative;
}

.swiper-slide {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site h3 {
    color: white;
    font-size: 60px;
    text-align: center;
    margin: 0 0 100px;
}

.site .inner_bg {
    width: 100%;
    height: 550px;
    background-color: white;
}

.site .inner_bg .inner {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site .inner_bg .inner .left {
    width: 855px;
    height: 690px;
    margin-right: 100px;
    position: relative;
}

@keyframes screening {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-100% + 442px));
    }
}

.site .inner_bg .inner .left:hover .pannel img {
    animation: screening 10s infinite linear;
}

.site .inner .left .pannel {
    position: absolute;
    top: 35px;
    left: 35px;
    width: 785px;
    height: 442px;
    overflow: hidden;
}

.site .inner_bg .inner .left .pannel img {
    width: 100%;
    height: auto;
}

.site .inner_bg .inner .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.site .inner_bg .inner .right h4 {
    font-size: 40px;
    margin-bottom: 57px;
}

.site .inner_bg .inner .right p {
    font-size: 25px;
    margin: 16px 0;
    font-family: 'Pretendard';
    font-weight: 300;
}

.site .inner_bg .inner .right .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site .inner_bg .inner .right a {
    font-size: 20px;
    padding: 20px 30px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6347;
    margin: 20px 40px 0;
}

:root {
    --swiper-theme-color: tomato;
}

.swiper,
.mySwiper,
.swiper-initialized,
.swiper-horizontal,
.swiper-backface-hidden,
#swiper-wrapper-bf155c101fcf54d3d {
    position: static !important;
}

.swiper-button-prev,
.swiper-button-next {
    transform: scale(2);
}

.swiper-button-prev {
    top: calc(50% + 125px);
    left: 70px;
}

.swiper-button-next {
    top: calc(50% + 125px);
    right: 70px;
}

.design {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 60px;
    overflow: hidden;
    background: url(../img/info_bg.png) center center / cover no-repeat;
}

.design h3 {
    font-family: 'SBAggro';
    color: tomato;
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
}

.design p {
    font-family: 'Pretendard';
    font-weight: 300;
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
}

.design .inner {
    width: 1440px;
    margin-top: 60px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.design .inner span {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    opacity: 1;
    font-family: 'Pretendard';
    font-weight: 200;
}

.design .inner figure {
    width: 280px;
    height: 280px;
    background-color: #000;
    transition: 0.5s;
    cursor: pointer;
}

.design .inner figure img {
    opacity: 0.5;
    transition: 0.5s;
}

.design .inner figure:hover img {
    opacity: 1;

}

.design .inner figure.on img {
    opacity: 1;
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    object-fit: unset;
    z-index: 10;
    transition: 0.5s;
}

.design .inner figure.on:nth-of-type(5) img {
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    width: 1071px;
    height: 931px;
}

.design .inner figure.on:nth-of-type(6) img {
    top: 0;
}

.design .inner figure.on:nth-of-type(8) img {
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 1598px;
    height: 775px;
}

.design .inner figure span {
    display: none;
    transition: 0.5s;
}

.design .inner figure.on span {
    position: absolute;
    top: -40%;
    right: -50%;
    z-index: 100;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6347;
    color: white;
    opacity: 1;
    font-weight: bold;
}

.design .inner figure.on:nth-of-type(5) span,
.design .inner figure.on:nth-of-type(8) span {
    top: -50%;
}


.design .inner figure.on:nth-of-type(6) span {
    top: -10%;
}




.design .inner figure:nth-of-type(6),
.design .inner figure:nth-of-type(8) {
    width: 570px;
    height: 280px;
}

.design .inner figure:nth-of-type(6),
.design .inner figure:nth-of-type(7),
.design .inner figure:nth-of-type(8) {
    margin-top: 10px;
}

.end {
    background-color: #fd8559;
    position: relative;
    color: white;
    overflow: hidden;
}

.end .title {
    color: white;
    font-size: 60px;
    margin: 103px;
    position: absolute;
    top: 0;
    left: 0;
}

.end h4 {
    font-size: 50px;
    margin: 30px 0 20px;
}

.end .left,
.end .right {
    width: 50%;
    height: 931px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

.end .left {
    background-color: #ff8e65;
}

.end .right {
    background-color: #ff9974;
}

.end .left strong,
.end .right strong {
    font-size: 40pt;
    font-family: 'SBAggro';
}

.end .left p,
.end .right p {
    font-size: 25px;
    font-family: 'GmarketSans';
    margin: 20px 0;
}

.end .line,
.end .contact {
    position: absolute;
}

.end .line {
    top: 750px;
    left: 0;
    text-wrap: nowrap;
    animation: slide 270s infinite normal linear;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    opacity: 0.1;
}

.end .line span {
    font-size: 150px;
    font-weight: bold;
    font-family: 'GmarketSans';
}

.end .contact {
    top: 700px;
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    height: 192px;
}

.end .contact h3 {
    color: white;
    font-size: 60px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.end .contact .inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.end .contact .inner .item {
    width:  calc(100% / 2 - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
}


.end .contact .inner .item img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    display: block;
}

.end .contact .inner .item:nth-of-type(2) img {
    height: 33px;
    width: 33px;
}

.end .contact .inner .item:nth-of-type(3) img {
    height: 28px;
}

.end .contact .inner .item p {
    font-family: 'Pretendard';
    font-size: 25px;
    font-weight: 300;
}