@charset "utf-8";

/* 초기값css */
@import url(reset.css);

/* 헤더, 공통 css */
@import url(common.css);

/* 지마켓 산스 */
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

.main_visual {
    min-width: 1920px;
    width: 100%;
    height: 100vh;
    background-color: #ff7f50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_visual .inner {
    background-color: #ff7f50;
    width: 1920px;
    height: 931px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow-x: hidden;
}

.main_visual .inner h4 {
    font-size: 60px;
    margin: 35px 0;
}

.main_visual .inner p {
    margin: 14px 0;
    font-size: 50px;
    font-weight: 100;
    text-wrap: nowrap;
}

.main_visual .inner h3 {
    font-size: 80px;
    margin: 30px 0;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.main_visual .line {
    display: flex;
    position: absolute;
    top: 67.5%;
    left: 0;
    transform: translateY(-65%);
    font-size: 150px;
    opacity: 0.1;
    font-weight: bold;
    text-wrap: nowrap;
    animation: slide 270s infinite normal linear;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    z-index: 0;
}

.main_visual .line span {
    margin: 0 30px;
    display: block;
    font-weight: bold;
}

.info, .site, .design, .end {
    width: 100%;
    display: none;
}

.info {
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background: url(../img/info_bg.png) center center / cover no-repeat;
}

.info .inner {
    width: 1440px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.info .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.info .left figure {
    margin: 0 auto 60px;
    width: 279px;
    height: 325px;
}

.info .left .left_bottom h3 {
    font-size: 35px;
    font-weight: bold;
    color: #ff6347;
    margin-bottom: 13px;
}

.info .left .left_bottom p {
    font-size: 25px;
    line-height: 1.3;
}

.info .left .left_bottom p strong {
    font-size: 30px;
    color: #ff6347;
}

.info .right {
    width: 1038px;
    height: 788px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info .right .right_top,
.info .right .right_bottom {
    display: flex;
    justify-content: space-between;
}

.info .right .right_top > div {
    width: calc(100% / 2 - 30px);
    padding: 39px;
}

.info .right .right_bottom > div {
    width: 100%;
    padding: 39px;
}

.info .right .title {
    font-size: 40px;
    color: #ff6347;
}

.info .right p,
.info .right a {
    font-size: 25px;
}

.info .right .right_top div h4 {
    font-size: 25px;
    color: #ff6347;
    margin: 20px 0 7px;
}

.info .right_top div:nth-of-type(2) div {
    width: 100%;
    margin: 38px 0 74px;
    display: flex;
    justify-content: space-between;
}

.info .right_top div:nth-of-type(2) div:last-of-type {
    margin-bottom: 0;
}

.info .right_top div:nth-of-type(2) div img {
    width: 71px;
    height: 85px;
    display: block;
}

.info .right .right_bottom .title {
    margin-bottom: 17px;
}

.info .right .right_bottom p {
    text-wrap: nowrap;
    font-size: 23px;
    margin-bottom: 20px;
}

.site {
    width: 100%;
    height: 100vh;
    background-color: #ff7f50;
    position: relative;
}

.swiper-slide {
    padding-top: 90px;
}

.site h3 {
    color: white;
    font-size: 60px;
    text-align: center;
    margin: 0 0 100px;
}

.site .inner_bg {
    width: 100%;
    height: 550px;
    background-color: white;
}

.site .inner_bg .inner {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site .inner_bg .inner .left {
    width: 853px;
    height: 633px;
    margin-right: 100px;
}

.site .inner_bg .inner .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.site .inner_bg .inner .right h4 {
    font-size: 40px;
    margin-bottom: 57px;
}

.site .inner_bg .inner .right p {
    font-size: 25px;
    margin: 16px 0;
}

.site .inner_bg .inner .right .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site .inner_bg .inner .right a {
    font-size: 20px;
    padding: 20px 30px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6347;
    margin: 20px 40px 0;
}

:root {
    --swiper-theme-color: tomato;
}
.swiper, .mySwiper, .swiper-initialized, .swiper-horizontal, .swiper-backface-hidden, #swiper-wrapper-bf155c101fcf54d3d {
    position: static !important;
}

.swiper-button-prev, .swiper-button-next {
    transform: scale(2);
}

.swiper-button-prev {
    top: 525px;
    left: 70px;
}

.swiper-button-next {
    top: 525px;
    right: 70px;
}

.design {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 60px;
    overflow: hidden;
}

.design h3 {
    color: tomato;
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
}

.design p {
    text-align: center;
    margin: 5px 0;
    font-size: 18px;
}

.design .inner {
    width: 1440px;
    margin-top: 60px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.design .inner span {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    opacity: 0.7;
}

.design .inner figure {
    width: 280px;
    height: 280px;
    background-color: #000;
    transition: 0.5s;
    cursor: pointer;
}

.design .inner figure img {
    opacity: 0.5;
    transition: 0.5s;
}

.design .inner figure:hover img {
    opacity: 1;
    
}

.design .inner figure.on img {
    opacity: 1;
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    object-fit: unset;
    z-index: 10;
    transition: 0.5s;
}

.design .inner figure.on:nth-of-type(5) img {
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    width: 1071px;
    height: 931px;
}

.design .inner figure.on:nth-of-type(6) img {
    top: 0;
}

.design .inner figure.on:nth-of-type(8) img {
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 1598px;
    height: 775px;
}

.design .inner figure span {
    display: none;
    transition: 0.5s;
}

.design .inner figure.on span {
    position: absolute;
    top: -40%;
    right: -50%;
    z-index: 100;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6347;
    color: white;
    opacity: 1;
    font-weight: bold;
}

.design .inner figure.on:nth-of-type(5) span,
.design .inner figure.on:nth-of-type(8) span {
    top: -50%;
}


.design .inner figure.on:nth-of-type(6) span {
    top: -10%;
}




.design .inner figure:nth-of-type(6),
.design .inner figure:nth-of-type(8) {
    width: 570px;
    height: 280px;
}

.design .inner figure:nth-of-type(6),
.design .inner figure:nth-of-type(7),
.design .inner figure:nth-of-type(8) {
    margin-top: 10px;
}

.end {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.end h3 {
    color: #ff7f50;
    font-size: 60px;
}

.end h4 {
    font-size: 50px;
    margin: 30px 0 20px;
}

.end p {
    font-size: 25px;
}